.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
 }
 
 .logo {
   color: var(--textSoft);
   font-weight: bold;
 }
 
 .text {
   font-size: 12px;
   color: var(--textSoft);
 }